@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
button:hover {
  scale: 0.95;
  transition: ease-in-out;
  animation-duration: 120s;
}

button:active {
  scale: 1.04;
  transition: ease-in-out;
  animation-duration: 120s;
}

/* From Uiverse.io by milegelu */
.grid-background {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.marquee-inner {
  animation: marqueeScroll 15s linear infinite;
}

.marquee-inner-testimonials {
  animation: marqueeScroll 35s linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

#BgBlurry {
  background: rgba(0, 0, 0, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(0, 0, 0, 0.42);
}

.GraphCssCoantainer {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
  filter: contrast(7);
  --mask: linear-gradient(rgba(255, 0, 0, 0.521), rgb(255, 255, 255));
}

.GraphCssCoantainer::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(#ffffff, transparent) 0 0/1em 1em space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  content: "";
}
